/* Background like image */
.register-bg {
  min-height: 100vh;
  background-image: url("https://i.pinimg.com/736x/41/5d/cc/415dcc93bde7cac97bbc0d9ab2354943.jpg");
  padding: 40px 0;
  background-repeat: no-repeat;
  background-size: cover;
}

/* White card box */
.register-box {
  max-width: 850px;
  
  border-radius: 18px;
  padding: 40px 50px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}

/* Input style (minimal) */
.form-control {
  border-radius: 6px;
  padding: 10px;
}

/* Responsive */
@media (max-width: 768px) {
  .register-box {
    padding: 25px 20px;
  }
}